@model dynamic
@* @model ShoppingService.Models.User *@

    <div class="chat-header">
        <h2>
            @if (ViewBag.Receiver != null)
            {
                <span>@ViewBag.Receiver.FirstName @ViewBag.Receiver.LastName - @ViewBag.Receiver.Email</span>
                @* <input id="senderId" hidden>@Model.Sender.Email<input/> *@
                @* <input id="receiverId" hidden>@Model.Receiver.Email<input/> *@
            }
            else
            {
                <span>Select a user</span>
            }
        </h2>
    </div>
    <div class="chat-messages">
        <div class="message message-received">
            <p class="message-text">Hello, how are you?</p>
            <span class="message-time">10:30 AM</span>
        </div>
        <div class="message message-sent">
            <p class="message-text">I'm good, thank you! And you?</p>
            <span class="message-time">10:31 AM</span>
        </div>
        @* PENTRU DEMO *@
        <div>
            <h2>Messages</h2>
            <ul id="messagesList" class="list-group"></ul>
        </div>
    </div>
    <div class="chat-input">
        <input id="messageToSend" type="text" placeholder="Type a message..." />
        <button id="sendButton" type="button">Send</button>
    </div>

