@model IEnumerable<ShoppingService.Models.User>

@{
    ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sender = ViewBag.Sender;
    var receiver = ViewBag.Receiver;
}

<section id="Chat">
    <div class="chat-app">
        <div id="chat-sidebar" class="chat-sidebar">
            <div class="sidebar-header">
                <h2>@sender.FirstName</h2>
            </div>
            <ul id="userList" class="user-list">
                @foreach (var user in Model)
                {
                    <a asp-controller="Chats" asp-action="ChatOneUser" asp-route-receiverId="@user.Id">
                        <li class="user @(user.Id == receiver.Id ? "active" : "")">
                            <span class="user-name">@user.FirstName @user.LastName</span>
                            <span class="last-message">Last message here //TO do</span>
                        </li>
                    </a>
                }
            </ul>
        </div>
        <div id="chat-main" class="chat-main">
            <div class="chat-header">
                <h2>
                    <span>@receiver.Email</span>
                    <input id="senderId" type="hidden" value="@sender.Id" />
                    <input id="receiverId" type="hidden" value="@receiver.Id" />
                </h2>
            </div>
            <div id="messagesList" class="chat-messages">
                @foreach(var item in ViewBag.Messages)
                {
                    <div class="message @(sender.Id == item.UserId ? "message-sent" : "message-received")">
                        <p class="message-text">@item.Content</p>
                        <span class="message-time">@item.SentAt.Hour:@item.SentAt.Minute</span>
                    </div>
                }
            </div>

            <div class="chat-input">
                <input id="messageToSend" type="text" placeholder="Type a message..."/>
                <button id="sendButton" type="button">Send</button>
            </div>
        </div>
    </div>
</section>

<link rel="stylesheet" href="~/css/Chats/Chat.css" asp-append-version="true"/>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/lib/signalr/signalr.min.js"></script>
<script src="~/js/Chat.js"></script>
