@model ShoppingService.Models.Order

@{
    ViewData["Title"] = "Order Details";
}

<section id="OrderDetails">
    <div class="order-details-body">
        <div class="order-details-container">
            <h1>Order Details</h1>

            <div class="order-info">
                <h4>Order</h4>
                <hr />
                <dl class="details-list">


                    <div class="details-item">
                        <dt class="details-label">
                            @Html.DisplayNameFor(model => model.User)
                        </dt>
                        <dd class="details-value">
                            @Html.DisplayFor(model => model.User.Email)
                        </dd>
                    </div>

                    <div class="details-item">
                        <dt class="details-label">
                            @Html.DisplayNameFor(model => model.Date)
                        </dt>
                        <dd class="details-value">
                            @Html.DisplayFor(model => model.Date)
                        </dd>
                    </div>

                    <div class="details-item">
                        <dt class="details-label">
                            CartItems
                        </dt>
                        <dd class="details-value">
                            <table class="table table-bordered">
                                <tr>
                                    <th>Games</th>
                                    <th>Quantity</th>
                                    <th>Total-Price</th>
                                </tr>
                                <tbody>
                                @foreach (var cartItem in Model.CartItems)
                                {
                                    <tr>
                                        <td>
                                            @foreach (var game in cartItem.Games)
                                            {
                                                <div>@game.Name</div>
                                            }
                                        </td>
                                        <td>@cartItem.Quantity</td>
                                        <td>@cartItem.TotalPrice</td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </dd>
                    </div>
                    
                    <div class="details-item">
                        <dt class="details-label">
                            @Html.DisplayNameFor(model => model.TotalAmount)
                        </dt>
                        <dd class="details-value">
                            @Html.DisplayFor(model => model.TotalAmount)
                        </dd>
                    </div>
                    
                </dl>
            </div>

            <div class="actions">
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <link rel="stylesheet" href="~/css/Orders/Details.css" asp-append-version="true" />
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}