@model IEnumerable<ShoppingService.Models.Order>

@{
    ViewData["Title"] = "Orders List";
}
<section id="OrderIndex">
    <div class="orders-body">
        <div class="orders-container">
            <h1>Orders List</h1>
            @* <h1> *@
            @*     <form asp-controller="Orders" asp-action="Create" method="get"> *@
            @*         <button class="create-btn">Create New Order</button> *@
            @*     </form> *@
            @* </h1> *@
            <div class="order-attributes-header">
                <div class="order-attribute-header">
                    <h3>Date</h3>
                </div>
                <div class="order-attribute-header">
                    <h3>Total Amount</h3>
                </div>
                <div class="order-attribute-header">
                    <h3>User</h3>
                </div>
                <div class="order-attribute-header">
                    <h3>Action</h3>
                </div>
            </div>
            <ul class="list">
                @foreach (var order in Model)
                {
                    <li class="list-item">
                        <div class="order-info">
                            <div class="order-attribute">
                                <p>@order.Date.ToString("d")</p>
                            </div>

                            <div class="order-attribute">
                                <p>@order.TotalAmount.ToString("C2")</p>
                            </div>

                            <div class="order-attribute">
                                <p>@order.User.Id</p>
                            </div>

                            <div class="order-attribute">
                                <form asp-controller="Orders" asp-action="Details" method="get">
                                    <input type="hidden" name="id" value="@order.Id" />
                                    <button type="submit" class="btn btn-secondary">Details</button>
                                </form>
                                <form asp-controller="Orders" asp-action="Delete" method="post">
                                    <input type="hidden" name="id" value="@order.Id" />
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</section>

<link rel="stylesheet" href="~/css/Orders/Index.css" asp-append-version="true" />
