@model ShoppingService.Models.User

@{
    ViewData["Title"] = "Orders List";
}
<section id="OrderIndex">
    <div class="orders-body">
        <div class="orders-container">
            <h1>@Model.FirstName Orders</h1>
            <div class="order-attributes-header">
                <div class="order-attribute-header">
                    <h3>Date</h3>
                </div>
                <div class="order-attribute-header">
                    <h3>Total Amount</h3>
                </div>
                <div class="order-attribute-header">
                    <h3></h3>
                </div>
            </div>
            <ul class="list">
                @foreach (var order in Model.Orders)
                {
                    <li class="list-item">
                        <a asp-controller="Orders" asp-action="Details" asp-route-id="@order.Id">
                            <div class="order-info">
                                <div class="order-attribute">
                                    <p>@order.Date.ToString("d")</p>
                                </div>
                                <div class="order-attribute">
                                    <p>@order.TotalAmount.ToString("C2")</p>
                                </div>
                                <div class="order-attribute">
                                    <form asp-controller="Orders" asp-action="Delete" method="get">
                                        <input type="hidden" name="id" value="@order.Id"/>
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</section>

<link rel="stylesheet" href="~/css/Orders/Index.css" asp-append-version="true" />
