<section>
    <div class="admin-body">
        <div class="admin-container">
            <h1>Admin Dashboard</h1>
            <div class="button-container">
                <a href="@Url.Action("Index", "Games")" class="admin-button">Games</a>
                <a href="@Url.Action("Index", "Reviews")" class="admin-button">Reviews</a>
                <a href="@Url.Action("Page3", "Admin")" class="admin-button">Page 3</a>
                <a href="@Url.Action("Page4", "Admin")" class="admin-button">Page 4</a>
                <a href="@Url.Action("Page5", "Admin")" class="admin-button">Page 5</a>
            </div>
        </div>
    </div>
</section>

<link rel="stylesheet" href="~/css/Admin.css" asp-append-version="true" />